<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HomeMapper">
   
	<select id="newLecture" resultType="com.spring.board.domain.LectureVO">
		<![CDATA[
		SELECT ROWNUM,LECTURENAME FROM(SELECT * FROM I_LECTURECLASS ORDER BY LECTURENUM DESC) WHERE ROWNUM<=3
		]]>
	</select>
	
	<select id="newNotice" resultType="com.spring.notice.domain.NoticeVO">
		<![CDATA[
		SELECT ROWNUM,TITLE FROM (SELECT * FROM I_NOTICE ORDER BY REGDATE DESC) WHERE ROWNUM<=4
		]]>
	</select>
	
</mapper>